NNbenchmarkArticle.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
kableExtra-README.html
kableExtra-v-awesome_table_in_html.html
kableExtra-v-awesome_table_in_pdf.pdf
kableExtra-v-best_practice_for_newline_in_latex_table.pdf
kableExtra-v-legacy_features.html
kableExtra-v-use_kable_in_shiny.html
kableExtra.html
kableExtra.pdf
*.DS_Store
Updated r-article RMD file. by theairbend3r · Pull Request #3 · ApaBila:NNbenchmarkArticle.pdf
useful-doc.R
